body {
    font-family: 'Arial Rounded MT', Arial, sans-serif;
    background: #98addd;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* caixa */
.login-box {
    background: #1e293b;
    padding: 40px;
    border-radius: 16px;
    width: 320px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.5);
    text-align: center;
}

/* título */
h2 {
    color: #ffffff;
    margin-bottom: 20%;
    text-align: center;
}

/* inputs */
input {
    width: 90%;
    height: 42px;
    padding: 0 10px;
    margin: 10px 0;
    margin-right: 50px;
    border-radius: 8px;
    border: none;
    outline: none;
    background: #bfdaff;
    color: #000000;
}

input {
    width: 90%;
    margin: 10px auto;
    display: block;
}

input[type="submit"] {
    width: 90%;
    margin: 15px auto;
    display: block;
}

/* foco (quando clica) */ 
.form-box input:focus { 
    border: 1px solid #3222c5; 
    box-shadow: 0 0 5px rgba(38, 0, 255, 0.5); 
}

/* placeholder */
input::placeholder {
    color: #94a3b8;
}

/* botão */
input[type="submit"] {
    
    background: #916cf8; 
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

/* hover */
input[type="submit"]:hover {
    background: #6c86f8;
    transform: scale(1.03);
}